GEMINI_API_KEY=
HOSTINGER_DB_HOST=localhost
HOSTINGER_DB_NAME=u873216892_healthcare
HOSTINGER_DB_PASSWORD=
HOSTINGER_DB_PORT=3306
HOSTINGER_DB_USER=u873216892_lalaji
VITE_HOSTINGER_API_URL=https://indianalala.com/api/sync.php